.todos-section {
  display: flex;
  flex-direction: column;
  padding: 40px;
  width: 85.5vw;
  height: 90.8vh;
  gap: 10px;
}

.todo-array-div {
  display: flex;
  background-color: rgb(176, 176, 176);
  align-items: center;
  height: 40px;
  padding: 10px 30px 10px 30px;
  border-radius: 10px;
  font-size: 1.2rem;
  justify-content: space-between;
  position: relative;
}

.date-info-div {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  gap: 10px;
  position: relative;
}

.date-info-div > button {
  background-color: transparent;
  border: none;
  border-radius: 50%;
  width: 33px;
  height: 33px;
  font-size: 1.2rem;
  transition: 0.5s;
}

.date-info-div > button:hover {
  background-color: rgb(168, 0, 206);
  cursor: pointer;
}

.date-div {
  margin-right: 50px;
}

.priority-div {
  position: absolute;
  left: 0;
  width: 10px;
  height: 40px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}